<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
  <div class="container-fluid custom-container">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <div class='col-md-12 text-white'>
          <h2>City Finder</h2>
        </div>
      </ul>
    </div>
  </div>
</nav>
