<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 text-center h-100">
        <h1><strong>Bem Vindo Embarcado!</strong></h1>
        <br>
        <div class="card shadow" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h5><strong>Esse é seu primeiro passo para se tornar um embarcado!</strong></h5>
            <br>
            <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">
            </div>
            <div class="h5 pb-3 mb-4 text-dark border-bottom border-dark">
              <h4><strong>Procure sua cidade abaixo para ver nossa área de cobertura:</strong></h4>
            </div>
            
            <%= render 'shared/form' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
